* {
    border: 0px;
    margin: 0%;
}

body {
    margin: auto;
    width: 1440px;
    height: 900px;
    background-image: url(../img/background-destination-desktop.jpg);
    background-size: 1400px 900px cover;
    background-repeat: no-repeat;
    background-color: #0B0D17;
    background-position: center top;
}

.cabecera {
    width: 1385px;
    height: 96px;
    margin-top: 40px;
    margin-left: 55px;  
}

.logo {
    width: 48px;
    height: 48px;
    margin-top: 25px;
    background-color: #0B0D17;
}

#barra {
    width: 473px;
    height: 1px;
    margin-top: -47px;
    margin-left: 100px;
    background: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.25;
}

#barrita {
    position: absolute;
    width: 165px;
    height: 3px;
    background-color: #FFFFFF;
    margin-left: 795px;
    margin-top: -3px;
}

.rectangulo_enlaces {
    position: relative;
    width: 840px;
    height: 96px;
    margin-top: -78px;
    margin-left: 545px;
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(81.5485px);
}

.enlaces {
    position: absolute;
    width: 700px;
    height: 19px;
    margin-top: -56px;
    margin-left: 650px;
}

a {
    height: 19px;
    color: #FFFFFF;
    font-family: Barlow Condensed;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2.7px;
    text-decoration: none;
}

span {
    width: 15px;
    font-weight: bold;
    margin-right: 12px;
}

#a0 {
    width: 70px;
}

#a1 {
    width: 130px;
    margin-left: 48px;
}

#a2 {
    width: 71px;
    margin-left: 48px;
}

#a3 {
    width: 127px;
    margin-left: 48px;
}

.titulo {
    width: 520px;
    height: 34px;
    margin-top: 80px;
    margin-left: 166px;
    font-family: Barlow Condensed;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 34px;
    letter-spacing: 4.725px;
    color: #FFFFFF;
}

.titulo span {
    mix-blend-mode: normal;
    opacity: 0.25;
    font-weight: bold;
    margin-right: 28px;
}

.moon {
    width: 445px;
    height: 445px;
    margin-left: 230px;
    margin-top: 120px;
}

.contenedor {
    width: 520px;
    height: 472px;
    margin-left: 850px;
    margin-top: -480px;

    position: relative;
}

.destinos {
    width: 385px;
    height: 34px;
}

.destinos a {
    color: #D0D6F9;
}

#d_moon {
    width: 39px;
    margin-right: 35px;
}

#d_mars {
    width: 37px;
    margin-right: 35px;
}

#d_europa {
    width: 56px;
    margin-right: 35px;
}

#d_titan {
    width: 42px;
}

.barrita_destinos {
    width: 58px;
    height: 3px;
    background-color: #FFFFFF;
}

.text_moon {
    width: 333px;
    height: 115px;
    font-family: Bellefair;
    font-style: normal;
    font-weight: normal;
    font-size: 100px;
    line-height: 115px;
    color: #FFFFFF;
    top: 71px;
    left: 0.5px;
    position: absolute;
}

.parrafo {
    position: absolute;
    height: 128px;
    left: 0%;
    right: 0.22%;
    top: calc(50% - 128px/2 + 28px);
    font-family: Barlow;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    color: #D0D6F9;
}

.barra_destinos {
    position: absolute;
    left: 0.22%;
    right: 0%;
    top: 80.93%;
    bottom: 18.86%;
    background: #383B4B;
}

.avg {
    width: 143px;
    height: 61px;
    position: absolute;
    left: 0.11%;
    right: 67.75%;
    top: 87.08%;
    bottom: 0%;
}

.avg .texto {
    width: 150px;
    height: 17px;
    position: absolute;
    left: 0%;
    right: 32.17%;
    top: calc(50% - 17px/2 - 22px);
    font-family: Barlow Condensed;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 2.3625px;
    color: #D0D6F9;
}

.km {
    width: 150px;
    height: 32px;
    position: absolute;
    left: 0%;
    right: 0%;
    top: calc(50% - 32px/2 + 14.5px);
    font-family: Bellefair;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 32px;
    color: #FFFFFF;
}

.est {
    width: 130px;
    height: 61px;
    position: absolute;
    left: 50%;
    right: 22.58%;
    top: 87.08%;
    bottom: 0%;
}

.est .texto {
    width: 160px;
    height: 17px;
    position: absolute;
    left: 0%;
    right: 3.28%;
    top: calc(50% - 17px/2 - 22px);
    font-family: Barlow Condensed;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 2.3625px;
    color: #D0D6F9;
}

.days {
    width: 100px;
    height: 32px;
    position: absolute;
    left: 0%;
    right: 25.41%;
    top: calc(50% - 32px/2 + 14.5px);
    font-family: Bellefair;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 32px;
    color: #FFFFFF;
}